ATTR{idVendor}=="1209", ATTR{idProduct}=="0001", SYMLINK+="luna-test1-%k", MODE="660", GROUP="plugdev"
ATTR{idVendor}=="1209", ATTR{idProduct}=="0002", SYMLINK+="luna-test2-%k", MODE="660", GROUP="plugdev"
ATTR{idVendor}=="1209", ATTR{idProduct}=="0003", SYMLINK+="luna-test3-%k", MODE="660", GROUP="plugdev"
ATTR{idVendor}=="1209", ATTR{idProduct}=="0004", SYMLINK+="luna-test4-%k", MODE="660", GROUP="plugdev"
ATTR{idVendor}=="1209", ATTR{idProduct}=="0005", SYMLINK+="luna-test5-%k", MODE="660", GROUP="plugdev"
