[submodule "firmware/dc_bootloader/deps/usb"]
	path = firmware/saturn-v/deps/usb
	url = https://github.com/opendime/USB-XMEGA.git
[submodule "firmware/dc_bootloader/deps/sam0"]
	path = firmware/saturn-v/deps/sam0
	url = https://github.com/avrxml/sam0.git
