LOCATE COMP "clk_60mhz"  SITE "A8";

LOCATE COMP "led[5]"     SITE "T15";
IOBUF PORT  "led[5]"     IO_TYPE=LVCMOS33;
LOCATE COMP "led[4]"     SITE "R15";
IOBUF PORT  "led[4]"     IO_TYPE=LVCMOS33;
LOCATE COMP "led[3]"     SITE "R16";
IOBUF PORT  "led[3]"     IO_TYPE=LVCMOS33;
LOCATE COMP "led[2]"     SITE "P15";
IOBUF PORT  "led[2]"     IO_TYPE=LVCMOS33;
LOCATE COMP "led[1]"     SITE "P16";
IOBUF PORT  "led[1]"     IO_TYPE=LVCMOS33;
LOCATE COMP "led[0]"     SITE "P14";
IOBUF PORT  "led[0]"     IO_TYPE=LVCMOS33;

LOCATE COMP "user_io[1]" SITE "D3";
LOCATE COMP "user_io[0]" SITE "C3";
